<%= render '/layouts/header' %>
<div class="about_p">
<p><strong>Places<strong> is my first project.  You can search any venue in the world with its corresponding location and Places will display the most recent photos or videos taken there.  The photos all come from instagram.</p>

<p>You can check out and fork the code on <a href="http://www.github.com/jamalp/foodstagram" target="_blank">Github</a>. Feel free to <a href="mailto:jamalkpowell@gmail.com?subject=Places">email</a> me with any suggestions, ideas or questions. </p>

<p>Enjoy yourself and have fun searching photos from all over the world!</p>
</div>