<%= render '/layouts/home.layout' %>
<%= render '/layouts/header' %>
<div class="background">
  <div class="transbox">
  <h1 class="welcome">Search Places</h1>

<form class="navbar-search pull-center" action="/photos" method="get">
  <input type="string" name="place" placeholder='Place'>
  <input type="string" name="location" placeholder='City, State'>
  <button class="btn btn-large btn-primary">Search</button>
</form>
</div>
</div>
