<%= render '/layouts/header' %>
<%= render '/layouts/index.layout' %>
<h1 class="index_header">Hey, <%= current_user.name %> <small>Heres what you've favorited</small></h1>

<ul class="thumbnails">
    <% current_user.places.each do |place| %>
    <div class="hearts">
  <li class="span3">
   <div class="thumbnail_index">
     <%= link_to (place.name.titleize + " " + place.location.titleize),
     photo_result_path(place: place.name, location: place.location) %>
     <% end %>
   </div>
  </div>
  </li>
</ul>
<% link_to "Place", '/photos?place=place&location=location' %>

<% link_to "place", photo_result_path(:place => "place", :location => "location") %>

