@import "bootstrap";

div.navbar-inner {
    height: 4em;
}

.thumbnail {
  height: 320px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #444;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.caption {
  height: 40px;
  overflow: scroll;

}
