@import "bootstrap";

div.navbar-inner {
    height: 4em;
}

.brand {
  text-align: left;
}

.thumbnail {
  height: 320px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #444;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.caption {
  height: 40px;
  overflow: scroll;
}

.welcome {
  text-align :center;

  color: red

}

.navbar-search {
  text-align :center
}
