@import "bootstrap";

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fauna One', Georgia, Times, serif;
}
p, div {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

h1 {
    text-shadow: 1px 1px 1px #ccc;
}

form {
  text-align: center;
}

.nav li {
  padding-top: 15px;
  font-size: 18px;
}

header.navbar {
  border-radius: 180px;
}

.page-header {
  text-align: center;
}

body.background {
  opacity: 0.2;
}

.resultbg {

background: url(cream.png);
}

.homebg {
    background: url(http://bobcb521.files.wordpress.com/2010/12/flatiron.jpg) no-repeat center center fixed;
    /*background-opacity: 0.5;*/
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

.indexbg {
  background: url(cream.png);
}

.index_header {
    padding: 20px;
    padding-bottom: 20px;
    margin-top: 500px;
    height: 100px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    color: #0088cc;
}

.buttonless {
    background:none!important;
    border:none;
    padding:0!important;

}

.index_h2 {
  font-size: 60px;
  padding: 50px;
  margin-left: 100px;

}

.hero-unit {
  opacity: 0.8;
  padding: 60px 0;
  text-align: center;
  margin: 10px auto 10px auto;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;

}

div.navbar-inner {
    height: 4em;
    opacity: 0.9;
}

.brand {
  text-align: left;
}

.hideOverflow
{
    font-size: 16px;
    overflow:auto;
    white-space:nowrap;
    text-overflow: clipped overflow;
    width:100%;
    display:block;
}

.thumbnail {
  height: 330px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.thumbnails {
 margin-left: 60px;

}

.thumbnail_index {
  background-image: url(https://s3.amazonaws.com/uploads.hipchat.com/39979/362034/tq68yysnq9f775w/hearticon.png);
  margin: auto;
  height: 160px;
  width: 170px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #444;
  font-size: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

div.thumbnail_index {
  margin: 30px;

}

.thumbnail_index a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.thumbnail_index a:hover {
  color: #7EE8FF;
}

.hearts {
 height: 50px;
 width: 1000px;
 margin: auto;
}

.caption {
  height: 40px;
  overflow: scroll;
}

.welcome {
  text-align :center;
  margin-top: 200px;

}

.navbar-search pull-center {
  text-align :center;
  float: none;
}



div.transbox
  {
  border-radius: 25px;
  box-shadow: 0 0 10px #888;
  margin: 0 480px 50px 480px;
  background-color:rgba(255,255,255,0.75);
  size: cover;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  }

div.transbox p
  {
  margin:40px 40px;
  font-weight:bold;
  color:#000000;
  }

  .list {
    font-size: 24px;
    list-style-image: url('sqpurple.gif');
  }
