<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <ul class="nav pull-right nav-pills">
          <li><%= link_to "Home", photo_home_path %></li>
          <%= render 'devise/menu/registration_items' %>
          <%= render 'devise/menu/login_items' %>
      </ul>
     <div class="container">
    <h1><%= link_to "Places", photo_home_path, id: "logo" %><small> Photos Of Where You Want To Be</small></h1>
    </div>
  </div>
</header>